<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csu.software.mapper.StudentMapper">
  <resultMap id="BaseResultMap" type="com.csu.software.model.Student">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="age" jdbcType="INTEGER" property="age" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, age
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from student
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from student
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.csu.software.model.Student">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into student (name, age)
    values (#{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.csu.software.model.Student">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="age != null">
        age,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.csu.software.model.Student">
    update student
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.csu.software.model.Student">
    update student
    set name = #{name,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getAllStu" resultType="com.csu.software.model.Student">
    SELECT * FROM student
  </select>

  <select id="getUserById" resultType="com.csu.software.model.Student">
    SELECT * FROM student where id = #{id,jdbcType=INTEGER}
  </select>

  <!-- <select id="getUserByNameAndAge" resultType="com.csu.software.model.Student">
     select * from student
     <where>
       <if test="name != null">
         and name like CONCAT('%',#{name},'%')
       </if>
       <if test="age1 != null">
         and age &gt; #{age1,jdbcType=INTEGER}
       </if>
       <if test="age2 != null">
         and age &lt; #{age2,jdbcType=INTEGER}
       </if>
    </where>
   </select>-->


  <select id="getUserByNameAndAge" resultType="com.csu.software.model.Student">
    select * from student
    <where>
      <if test="arg0 != null">
        and name like CONCAT('%',#{arg0},'%')
      </if>
      <if test="arg1 != null">
        and age &gt; #{arg1,jdbcType=INTEGER}
      </if>
      <if test="arg2 != null">
        and age &lt; #{arg2,jdbcType=INTEGER}
      </if>
    </where>
  </select>

  <select id="register" resultType="com.csu.software.model.User">


  </select>



</mapper>